*.crx
*.gz
*.pem
*.tar
*.tgz
*.xpi
*.zip
*~
~*
build*/
dist*/
dest*/
node_modules/
npm-debug.log
.npm/
package-lock.json
yarn-error.log
.yarn-integrity
.env.local
.env.development.local
.env.test.local
.env.production.local
